###########
# Objetos #
###########

*.o
builds/

###############
# Executaveis #
###############

*.out
minishell

###############
# libft files #
###############

Libft/builds/
Libft/libft.a

##########
# Outros #
##########

anotações.txt
